[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.0.3"
psycopg2 = "~=2.9.3"
djangorestframework = "~=3.13"

[dev-packages]
black = "*"
bandit = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-describe = "*"

[requires]
python_version = "3.9"
